@font-face {
    font-family: "JetBrains Mono";
    src: url("webfonts/JetBrainsMono-Bold.woff2") format("truetype");
    font-display: block;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    background-color: #111111;
    color: #ffffff;
}

select {
    max-width: 200px;
    padding-left: 6px;
    padding-right: 6px;
    border: none;
    border-radius: 5px;
    font-family: "JetBrains Mono", sans-serif;
    color: #000000;
    background-color: #f9f9f9;
}

select:focus-visible {
    outline: none;
}

.small {
    line-height: 2;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.station-container-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.windspeed-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.windspeed-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    width: 80%;
    max-width: 400px;
    height: 35vh;
    min-height: 100px;
    max-height: 200px;
    margin-top: 24px;
}

.updated {
    color: #666;
}

.unit {
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.spacer {
    margin-top: 14px;
}

@media (orientation: landscape) and (max-height: 500px) {
    .chart-container,
    p {
        margin-top: 4px;
    }

    .spacer {
        margin-top: 8px;
    }
}

@media (max-width: 490px) {
    .container-row {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .station-container-row {
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .windspeed-block {
        width: 100%;
        max-width: 250px;
    }
}
